        /* CSS rules go here */
      /* Extended from the Uiverse.io loader by Nawsome */

.loader {
  --square: 26px;
  --offset: 30px;

  /*
    Original:
    12 movements × 0.2s = 2.4s

    Seven-letter version:
    20 movements × 0.2s = 4s
  */
  --duration: 4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;

  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;

  --loader-color: darkorange;

  width: calc(5 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));

  position: relative;

  padding: 0;
  margin: 10px auto 30px;
}

.loader span {
  position: absolute;

  width: var(--square);
  height: var(--square);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  margin: 0;

  background: transparent;
  border: none;

  color: var(--loader-color);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-weight: 900;
  line-height: 1;
}

/* W */

.loader .square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));

  animation:
    square1 var(--duration) var(--delay)
      var(--timing-function) infinite,
    squarefadein var(--in-duration)
      calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

/* O */

.loader .square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));

  animation:
    square2 var(--duration) var(--delay)
      var(--timing-function) infinite,
    squarefadein var(--in-duration)
      calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

/* R */

.loader .square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));

  animation:
    square3 var(--duration) var(--delay)
      var(--timing-function) infinite,
    squarefadein var(--in-duration)
      calc(2 * var(--in-delay))
      var(--in-timing-function) both;
}

/* K */

.loader .square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));

  animation:
    square4 var(--duration) var(--delay)
      var(--timing-function) infinite,
    squarefadein var(--in-duration)
      calc(3 * var(--in-delay))
      var(--in-timing-function) both;
}

/* W */

.loader .square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));

  animation:
    square5 var(--duration) var(--delay)
      var(--timing-function) infinite,
    squarefadein var(--in-duration)
      calc(4 * var(--in-delay))
      var(--in-timing-function) both;
}

/* A */

.loader .square6 {
  left: calc(4 * var(--offset));
  top: calc(1 * var(--offset));

  animation:
    square6 var(--duration) var(--delay)
      var(--timing-function) infinite,
    squarefadein var(--in-duration)
      calc(5 * var(--in-delay))
      var(--in-timing-function) both;
}

/* Y */

.loader .square7 {
  left: calc(5 * var(--offset));
  top: calc(1 * var(--offset));

  animation:
    square7 var(--duration) var(--delay)
      var(--timing-function) infinite,
    squarefadein var(--in-duration)
      calc(6 * var(--in-delay))
      var(--in-timing-function) both;
}

/* First W */

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  5% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

/* O */

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  5% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  10% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  15% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  90% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  95% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

/* R */

@keyframes square3 {
  0%,
  10% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  15% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  20% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  25% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  80% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  85% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  90% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  95%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

/* K */

@keyframes square4 {
  0%,
  20% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  30% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  35% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  70% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  80% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  85%,
  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

/* Second W */

@keyframes square5 {
  0%,
  30% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  35% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  40% {
    left: calc(4 * var(--offset));
    top: calc(0 * var(--offset));
  }

  45% {
    left: calc(4 * var(--offset));
    top: calc(1 * var(--offset));
  }

  60% {
    left: calc(4 * var(--offset));
    top: calc(1 * var(--offset));
  }

  65% {
    left: calc(4 * var(--offset));
    top: calc(2 * var(--offset));
  }

  70% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  75%,
  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

/* A */

@keyframes square6 {
  0%,
  40% {
    left: calc(4 * var(--offset));
    top: calc(1 * var(--offset));
  }

  45% {
    left: calc(4 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50% {
    left: calc(5 * var(--offset));
    top: calc(2 * var(--offset));
  }

  55% {
    left: calc(5 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(5 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

/* Y */

@keyframes square7 {
  0%,
  50% {
    left: calc(5 * var(--offset));
    top: calc(1 * var(--offset));
  }

  55% {
    left: calc(5 * var(--offset));
    top: calc(0 * var(--offset));
  }

  60% {
    left: calc(4 * var(--offset));
    top: calc(0 * var(--offset));
  }

  65% {
    left: calc(4 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(4 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  .loader span {
    animation: none;
  }
}
